<!DOCTYPE html>
<html lang="en" ng-app="myAppModule">
    <head>
        <title>Listing 2-1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/angular.min.js"></script>
        
        <script type="text/javascript">
            function MyFirstCtrl($scope) {

            var employees = ['Catherine Grant', 'Monica Grant',
                'Christopher Grant', 'Jennifer Grant'
            ];

            $scope.ourEmployees = employees;
            }
        </script>
    </head>
    <body ng-controller="MyFirstCtrl">
        <label>City: </label><input ng-model="city" type="text" /></label>
        <p>You entered: {{city}}</p>
        <h2>Number of Employees: {{ourEmployees.length}}</h2>
        <p ng-repeat="employee in ourEmployees">{{employee}}</p>
        <script src="js/app.js"></script>
    </body>
</html>